.tickets-card {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #3367de;
}
.tickets-head{
    height: 40px;
    overflow: hidden;
}
.tickets-body {
    height: 30px;
    overflow: hidden;
}