<div class="login-container p-3 d-flex align-items-center justify-content-center justify-content-lg-end">
  <div class="login-form mr-lg-5 px-3 py-5">
      <div class="text-uppercase fs-24 fw-600 mb-5 c-000">Forgot Password</div>
      <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="fs-16" autocomplete="off">
          <!-- <div class="form-group mail position-relative">
              <input type="email" [pattern]="emailPattern" formControlName="email" class="form-control py-2 pl-3 pr-5" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  placeholder="example@email.com" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email ID is required</div>
                  <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>         
              </div>         
          </div>   -->
          
          
          <mat-form-field>
                <input matInput placeholder="Enter your email" [pattern]="emailPattern" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email ID is required</div>
                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
            </div>







          <div class="form-group">
              <button [disabled]="loading" class="w-100 btn btn-primary py-2 text-uppercase " mat-button>Resend Password</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>
      <p class="text-center"><a routerLink="/">Back</a></p>
  </div>
</div>